description "kibana"

start on virtual-filesystems
stop on runlevel [06]

respawn
limit nofile 65550 65550

setuid {{ kibana_user }}
setgid {{ kibana_group }}

chdir {{ kibana_install_dir }}/kibana

exec nice -n {{ kibana_nice_level }} ./bin/kibana 2>&1 >> {{ kibana_log }}
